@model IEnumerable<Shoppica.MVC.ViewModels.CategoryVM>

    @foreach (var item in Model)
{
    <li>
        <a href="/product/getproducts/@item.Id">@item.CategoryName</a>
        <div class="s_submenu">
            <h3>@item.CategoryName</h3>
            <ul class="s_list_1 clearfix">
                @foreach (var altItem in item.InverseTop)
                {
                    <li><a href="/product/getproducts/@altItem.Id">@altItem.CategoryName</a></li>
                }
            </ul>
        </div>
    </li>
}
