@{
    ViewData["Title"] = "Home Page";
}

<!-- ********************** -->
<!--     I N T R O          -->
<!-- ********************** -->
<div id="intro">
    <div id="intro_wrap">
        @await Component.InvokeAsync("SliderVC")
    </div>
</div>
<script type="text/javascript" src="~/js/jquery/jquery.slides.js"></script>
<script type="text/javascript" src="~/js/shoppica.products_slide.js"></script>
<!-- end of intro -->
<!-- ********************** -->
<!--      C O N T E N T     -->
<!-- ********************** -->
<div id="content" class="container_12">

    <div id="welcome" class="grid_12">
        <h2>Shoppica Store'a Hoşgeldiniz.</h2>
        <p> <a href="">Shoppica</a>, şık bir premium OpenCart temasıdır (şu anda desteklenen sürümler 1.4.9.3/1.4.9.4'tür). Temiz ve modern tasarım, temayı her tür çevrimiçi mağaza için kullanmanıza olanak tanır: giysi, aksesuar, hediyelik eşya, elektronik, mobilya, sağlık ve kozmetik mağazası vb.</p>
        <p> Ana özelliklerden biri, her kategori için farklı türde slayt gösterileri seçmektir, böylece mağazanızın her bölümünü kişiselleştirebilirsiniz. Shoppica, size temayı ürününüze veya hizmetinize kolayca uyarlama gücü vererek, ürün listeleme boyutunu, sütun konumunu ve düzen türünü özelleştirmenize olanak tanır. Renk teması aracıyla sitenin öğelerini değiştirebilir, mağazanızı benzersiz hale getirebilir ve kalabalığın arasından sıyrılabilirsiniz.</p>
    </div>

    <div class="clear"></div>

    <div id="special_home" class="grid_12">
        <h2 class="s_title_1"><span class="s_main_color">İndirimli</span> Ürünler</h2>
        <div class="clear"></div>
        <div class="s_listing s_grid_view clearfix">
            @await Component.InvokeAsync("SpecialVC")
            
            <div class="clear"></div>
        </div>
    </div>

    <div id="banners_1">
        <div class="grid_3">
            <a href="http://themeforest.net/item/shoppica-premium-open-cart-theme/235470?ref=ThemeBurn" target="_blank">
                <img src="images/dummy/banner_4.jpg" alt="" />
            </a>
        </div>
        <div class="grid_3">
            <a href="http://themeforest.net/item/shoppica-premium-open-cart-theme/235470?ref=ThemeBurn" target="_blank">
                <img src="images/dummy/banner_1.jpg" alt="" />
            </a>
        </div>
        <div class="grid_3">
            <a href="http://themeforest.net/item/shoppica-premium-open-cart-theme/235470?ref=ThemeBurn" target="_blank">
                <img src="images/dummy/banner_2.jpg" alt="" />
            </a>
        </div>
        <div class="grid_3">
            <a href="http://themeforest.net/item/shoppica-premium-open-cart-theme/235470?ref=ThemeBurn" target="_blank">
                <img src="images/dummy/banner_3.jpg" alt="" />
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div id="latest_home" class="grid_12">
        <h2 class="s_title_1"><span class="s_main_color">Latest</span> Products</h2>
        <div class="clear"></div>
        <div class="s_listing s_grid_view clearfix">
           
            @await Component.InvokeAsync("LatestVC")
            <div class="clear"></div>

        </div>
    </div>

</div>
<!-- end of content -->
